<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    <h1 style="text-align: center"> BM Viagens: </h1>
    <div>

        <div th:each="empresa : ${onibus}">
            <h3 th:text="${empresa.empresa}"></h3>
            <h4 th:text="${empresa.destino}"></h4>
            <h4 th:text="${empresa.tempoDeViagem}"></h4>
         
        </div>
    </div>
    
        <button type="submit"> Tenho Interesse </button>
    <a href="/Onibus"></a>
</body>
</html>